<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Autenticação</title>
    </h:head>
    <h:body>

        <p:panel header="Autenticação" style="width: 400px">
            <h:form>
                <p:growl id="growl" life="2000" />
                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="login" value="Login:"/>
                    <p:inputText required="true" id="login" value="#{userMB.usuario.login}">
                        <p:focus/>
                    </p:inputText>

                    <p:outputLabel for="senha" value="Senha:" />
                    <p:password required="true" id="senha" value="#{userMB.usuario.senha}"/>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Entrar" update="growl" ajax="false" action="#{userMB.auth()}"/>
            </h:form>
        </p:panel>
    </h:body>
</html>

