<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Excluir linha</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Excluir linha">
            <h:form>
                <p:growl id="growl" life="2000" />

                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel for="linhas" value="Linhas: " />
                    <p:selectOneMenu id="linhas" value="#{busLineMB.codigo}" style="width:150px">
                        <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{busLineMB.lista}" var="item" itemValue="#{item.idSQL}" itemLabel="#{item.idSQL} - #{item.description}"/>
                    </p:selectOneMenu>
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Excluir" update="growl,linhas" action="#{busLineMB.delete()}"/>
            </h:form>
        </p:panel>
    </h:body>
</html>


