<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Serverus</title>
        <script src="http://maps.google.com/maps/api/js?sensor=true"
        type="text/javascript"></script>
    </h:head>
    <h:body id="body">
        <ui:include src="/WEB-INF/partials/searchbar.xhtml"/>

        <p:layout id="layout" style="width: 100%; height: 600px; padding-top: 20px">
            <p:layoutUnit position="center">
                <p:gmap id="map" center="-26.8993874, -49.0844632" zoom="13" type="terrain" fitBounds="true" streetView="false" mapTypeControl="false"
                        style="width:100%;height:100%" model="#{searchMB.model}" />
            </p:layoutUnit> 

        </p:layout>
    </h:body>
</html>


