<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <script src="http://maps.google.com/maps/api/js?sensor=true|false"
        type="text/javascript"></script>
        <title>Principal</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>
    </h:body>
</html>


