<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Incluir Viagem</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Incluir viagem">
            <h:form>
                <p:growl id="growl" life="5000" />

                <h:panelGrid columns="2" cellpadding="5" style="width: 60%">
                    <p:outputLabel for="lines" value="Linha:"/>
                    <p:selectOneMenu id="lines"  value="#{busRideMB.busLine}" onchange="submit()" valueChangeListener="#{busRideMB.changeBusLine}" >
                        <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{busRideMB.listBus}" var="item" itemValue="#{item.idSQL}" itemLabel="#{item.idSQL} - #{item.description}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="routeType" value="Tipo: " />
                    <p:selectOneButton id="routeType" value="#{busRideMB.routeType}" onchange="submit()" valueChangeListener="#{busRideMB.changeRouteType}" >
                        <f:selectItem itemLabel="Ida"  itemValue="0"/>
                        <f:selectItem itemLabel="Volta"  itemValue="1"/>
                    </p:selectOneButton>

                    <p:outputLabel for="scheduleType" value="Tipo Horário: " />
                    <p:selectOneButton id="scheduleType" value="#{busRideMB.scheduleType}" onchange="submit()" valueChangeListener="#{busRideMB.changeScheduleType}">
                        <f:selectItem itemLabel="Semana" itemValue="1"/>
                        <f:selectItem itemLabel="Sábado" itemValue="2"/>
                        <f:selectItem itemLabel="Domingo/Feriado" itemValue="3"/>
                    </p:selectOneButton>

                    <p:outputLabel for="time" value="Tempo de viagem:"/>
                    <h:panelGrid id="time" columns="1" style="margin-bottom: 10px">
                        <h:outputText id="timeOutput" value="#{busRideMB.rideTime} minutos" />
                        <h:inputHidden id="timeInput" value="#{busRideMB.rideTime}" />
                        <p:slider for="timeInput" display="timeOutput" maxValue="720" style="width: 200px" displayTemplate="{value} minutos" />
                    </h:panelGrid>

                    <p:outputLabel for="distance" value="Distância"/>
                    <h:panelGrid id="distance" columns="1" style="margin-bottom: 10px">
                        <h:outputText id="distanceOutput" value="#{busRideMB.rideDistance} metros" />
                        <h:inputHidden id="distanceInput" value="#{busRideMB.rideDistance}" />
                        <p:slider for="distanceInput" display="distanceOutput" maxValue="100000" style="width: 200px" displayTemplate="{value} metros" />
                    </h:panelGrid>

                    <p:outputLabel for="schedules" value="Horarios:"/>
                    <p:selectManyCheckbox id="schedules" value="#{busRideMB.selectedSchedules}" layout="grid" columns="2">
                        <f:selectItems value="#{busRideMB.listSchedules}" var="schedule" itemValue="#{schedule.idS}" itemLabel="#{schedule.departureTimeDesc}"/>
                    </p:selectManyCheckbox>

                    <p:outputLabel for="upload" value="Arquivo KML:" />
                    <p:fileUpload id="upload" auto="true" invalidFileMessage="Arquivo inválido" invalidSizeMessage="Arquivo muito grande" update="growl" fileUploadListener="#{busRideMB.uploadKML}"  mode="advanced" allowTypes="/(\.|\/)(xml|kml)$/" />
            </h:panelGrid>

            <p:separator/>
            <p:commandButton value="Salvar" update="growl,lines,routeType,scheduleType,time,distance,schedules,upload" onstart="PF('dlg1').show()" oncomplete="PF('dlg1').hide()" actionListener="#{busRideMB.save}"/>

            <p:dialog showHeader="false" position="top" modal="true" showEffect="clip" hideEffect="clip" widgetVar="dlg1" minHeight="40" closable="false">
                <h:outputText value="Por favor, aguarde..." />
            </p:dialog>
        </h:form>
    </p:panel>
</h:body>
</html>

