<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Incluir itinerário</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Incluir itinerário">
            <h:form>
                <p:growl id="growl" life="2000" />

                <h:panelGrid columns="2" cellpadding="5" style="width: 60%">
                    <p:outputLabel for="line" value="Linha:"/>
                    <p:selectOneMenu id="line"  value="#{itineraryMB.busLineCode}">
                        <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{itineraryMB.busLineList}" var="item" itemValue="#{item.idSQL}" itemLabel="#{item.idSQL} - #{item.description}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="path" value="Ruas: "/>
                    <p:selectManyCheckbox id="path" value="#{itineraryMB.selectedPaths}" layout="grid" columns="1" >
                        <f:selectItems value="#{itineraryMB.pathList}" var="rua" itemValue="#{rua.idSQL}" itemLabel="#{rua.description}"/>
                    </p:selectManyCheckbox>
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Salvar" update="growl,line,path" onstart="PF('dlg1').show()" oncomplete="PF('dlg1').hide()" actionListener="#{itineraryMB.save}"/>

                <p:dialog showHeader="false" modal="true" showEffect="clip" hideEffect="clip" widgetVar="dlg1" minHeight="40" closable="false">
                    <h:outputText value="Por favor, aguarde..." />
                </p:dialog>
            </h:form>
        </p:panel>
    </h:body>
</html>

