<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Incluir linha</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Incluir linha">
            <h:form>
                <p:growl id="growl" life="2000" />

                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="codigo" value="Código" />
                    <p:inputText id="codigo" value="#{busLineMB.codigo}" />
                    <p:outputLabel for="descricao" value="Descrição" />
                    <p:inputText id="descricao" value="#{busLineMB.descricao}"/>
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Adicionar"  update="growl,codigo,descricao" actionListener="#{busLineMB.add}"/>
            </h:form>
        </p:panel>
    </h:body>
</html>


