<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <title>Incluir rua</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Excluir rua">
            <h:form>
                <p:growl id="growl" life="2000" />

                <h:panelGrid columns="2" cellpadding="2">
                    <p:outputLabel for="nome" value="Nome" />
                    <p:inputText id="nome" value="#{pathMB.nome}"/>
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Adicionar"  update="growl, nome" actionListener="#{pathMB.add}"/>
            </h:form>
        </p:panel> 
    </h:body>
</html>


