<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Incluir horário</title>

        <h:outputScript library="js" name="ptbr.js" />
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <p:panel header="Incluir horário">
            <h:form>
                <p:growl id="growl" life="2000" />

                <h:panelGrid columns="2" cellpadding="5" style="width: 60%">
                    <p:outputLabel for="linhas" value="Linha:"/>
                    <p:selectOneMenu id="linhas"  value="#{scheduleMB.codigoLinha}">
                        <f:selectItem itemLabel="Selecione" itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{scheduleMB.listaOnibus}" var="item" itemValue="#{item.idSQL}" itemLabel="#{item.idSQL} - #{item.description}"/>
                    </p:selectOneMenu>

                    <p:outputLabel for="idaVolta" value="Tipo: " />
                    <p:selectOneButton id="idaVolta" value="#{scheduleMB.idaVolta}" >
                        <f:selectItem itemLabel="Ida"  itemValue="0"/>
                        <f:selectItem itemLabel="Volta"  itemValue="1"/>
                    </p:selectOneButton>
                    
                    <p:outputLabel for="tipoHorario" value="Tipo Horário: " />
                    <p:selectOneButton id="tipoHorario" value="#{scheduleMB.tipoHorario}">
                        <f:selectItem itemLabel="Semana" itemValue="1"/>
                        <f:selectItem itemLabel="Sábado" itemValue="2"/>
                        <f:selectItem itemLabel="Domingo/Feriado" itemValue="3"/>
                    </p:selectOneButton>
                    
                    <p:outputLabel for="hora" value="Horário:" />
                    <p:calendar id="hora" pattern="HH:mm" timeOnly="true" mode="popup" locale="pt" value="#{scheduleMB.saida}" />
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Salvar" update="growl,linhas,idaVolta,tipoHorario,hora" onstart="PF('dlg1').show()" oncomplete="PF('dlg1').hide()" actionListener="#{scheduleMB.save}"/>

                <p:dialog showHeader="false" modal="true" showEffect="clip" hideEffect="clip" widgetVar="dlg1" minHeight="40" closable="false">
                    <h:outputText value="Por favor, aguarde..." />
                </p:dialog>
            </h:form>
        </p:panel>
    </h:body>
</html>

