<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Consultar Viagem</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/partials/navigationbar.xhtml"/>

        <h:form id="form">
            <p:growl id="growl" life="3000" />

            <p:dataTable id="dtbusrides" value="#{busRideMB.listAllRide}" var="busRide" emptyMessage="Nenhum registro">
                <p:column sortBy="#{busRide.busLineID}">
                    <f:facet name="header">
                        <h:outputText value="Código"/>
                    </f:facet>
                    <h:outputText value="#{busRide.busLineID}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{busRide.busLineDesc}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tipo rota"/>
                    </f:facet>
                    <h:outputText value="#{busRide.routeTypeDesc}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tipo horário"/>
                    </f:facet>
                    <h:outputText value="#{busRide.scheduleTypeDesc}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Partida"/>
                    </f:facet>
                    <h:outputText value="#{busRide.departureTimeDesc}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Duração"/>
                    </f:facet>
                    <h:outputText value="#{busRide.durationDesc} minuto(s)"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Distância"/>
                    </f:facet>
                    <h:outputText value="#{busRide.distanceDesc} metro(s)"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Tem coordenadas"/>
                    </f:facet>
                    <h:outputText value="#{busRide.hasCoordinates}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Excluir"/>
                    </f:facet>
                    <p:commandButton update="dtbusrides, :form:growl" style="margin-left: 40%" icon="ui-icon-closethick" actionListener="#{busRideMB.delete(busRide.busLineID, busRide.busScheduleID)}"/>
                </p:column>

            </p:dataTable>

        </h:form>
    </h:body>

</html>

